<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="limo_with_mid360">
  <xacro:arg name="sensor_namespace" default="limo"/>

  <!-- Include Limo Ackermann Base -->
  <xacro:include filename="$(find simple_rbt)/model/limo/urdf/limo_ackerman.xacro"/>

  <!-- Include Mid360 Sensor -->
  <xacro:include filename="$(find simple_rbt)/model/sensor/simple_mid360/model.xacro"/>

  <xacro:simple_mid360 
    parent_link="base_link" 
    xyz="0.0 0.0 0.05" 
    rpy="0 0 0"
    sensor_namespace="$(arg sensor_namespace)"
  />

</robot>
