<launch>

  <arg name="world_file" default="$(find simple_rbt)/world/empty.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="verbose" value="true"/>
  </include>
  
</launch>

