<launch>
  <arg name="sensor_namespace" default="scout" />
  <arg name="slam_namespace" default="$(arg sensor_namespace)/slam" />
  <arg name="x" default="-11.0" />
  <arg name="y" default="-11.0" />
  <arg name="z" default="0.25" />
  <arg name="yaw" default="0.0" />
  <arg name="rviz" default="false" />
  <arg name="slam_delay" default="10.0" />

  <include file="$(find simple_rbt)/launch/gazebo_maze_world.launch" />

  <include file="$(find simple_rbt)/launch/scout_mini.launch">
    <arg name="sensor_namespace" value="$(arg sensor_namespace)" />
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="yaw" value="$(arg yaw)" />
  </include>

  <include file="$(find simple_rbt)/launch/scout_fastlio_map.launch">
    <arg name="sensor_namespace" value="$(arg sensor_namespace)" />
    <arg name="slam_namespace" value="$(arg slam_namespace)" />
    <arg name="world_frame" value="odom_wheel" />
    <arg name="body_frame" value="base_link" />
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="slam_delay" value="$(arg slam_delay)" />
  </include>
</launch>
